<div class="actions">

    <div class="button-container">

        <a id="byTimeOfGeneration" class="btn" href="#/details/{{generatorID}}/byTimeOfGeneration">Sort by
            generation
            time</a>
        <a id="byValueAsc" class="btn" href="#/details/{{generatorID}}/byValueAsc">Sort by value</a>
        <a id="byPeriod" class="btn" href="#/details/{{generatorID}}/byPeriod">Filter by period</a>
        <a id="random" class="btn" href="#/details/{{generatorID}}/random">Random</a>

    </div>

    <form class="filter-form" ng-submit="filterHandler(data)" ng-if="displayType==='byPeriod'">

        <label for="from">from</label>
        <input type="number" required="required" ng-model="data.from">
        <br />

        <label for="to">to</label>
        <input type="number" required="required" ng-model="data.to">
        <br />

        <button class="btn" type="submit" id="submit" ng-disabled="filterForm.$invalid">OK</button>
        <button class="btn" ng-click="cancelHandler()">Cancel</button>

    </form>

</div>

<div class="details">

    <h1>Currently there are
        <span ng-style="{'color': color}">{{currentCount}}</span> /

        <input type="text" ng-style="{'color': color}" ng-value="count" size="7" maxlength="7"
            ng-blur="editCountHandler($event)" ng-keydown="keyHandler($event)">

        <br /> generated numbers by

        <input ng-style="{'color': color}" required="required" ng-value="name" ng-model="name" size="10" maxlength="10"
            ng-blur="editNameHandler($event)" ng-keydown="keyHandler($event)">

    </h1>

    <h3>Status: {{isWorking ? "working" : "not working"}}</h3>

    <h3>Display: {{displayMessage}}</h3>

    <div class="nums-container">
        <div ng-repeat="num in list track by num.timeOfGeneration" class="det-view">
            <div number-display color={{color}} value={{num.value}} name={{name}} type={{displayType}}
                ng-click="deleteNumHandler($index)">
            </div>
        </div>
    </div>
</div>