<div class="button-container">
    <button class="btn" ng-disabled="!disabledBtn" ng-click="showAllHandler()">Show All</button>
</div>

<div class="table">
    <div>
        <div>Name of the number generator</div>
        <div>Generated numbers</div>
        <div>Color</div>
        <div>Details</div>
    </div>

    <div ng-repeat="gen in generators track by $index" ng-hide="gen.isHidden">

        <div>{{gen.name}}</div>
        <div>{{gen.getListOfNumbersLength}}</div>
        <div ng-style="{'background-color': gen.color}" class="color-box"></div>
        <div><a ng-href="#/details/{{$index}}/{{defaultDisplayType}}">check</a></div>

        <div>
            <button class="btn" ng-click="pauseHandler($index)">{{gen.isWorking ? "Pause" : "Resume"}}</button>
            <button class="btn" ng-click="deleteHandler($index)">Delete</button>
            <button class="btn" ng-click="hideHandler($index)">Hide</button>
        </div>

    </div>
</div>