<div class="buttons">
    <div class="button-container">
        <button class="btn" ng-disabled="!disabledBtn" ng-click="showAllHandler()">Show All</button>
    </div>
</div>

<div ng-if="generators.length > 0">

    <table>
        <tr>
            <th>Name of the number generator</th>
            <th>Current count of generated numbers</th>
            <th>Color</th>
            <th>Details</th>
        </tr>

        <tr ng-repeat="generator in generators track by $index" ng-hide="generator.isHidden">
            <td>{{generator.name}}</td>
            <td>{{generator.getListOfNumbersLength}}</td>
            <td ng-style="{'background-color': generator.color}"></td>
            <td><a ng-href="#/details/{{$index}}/{{defaultDisplayType}}">check</a></td>

            <td>
                <button class="btn" ng-click="pauseHandler($index)" ng-disabled="!generator.randomizer">
                    {{generator.isWorking ? "Pause" : "Resume"}}
                </button>
            </td>
            <td>
                <button class="btn" ng-click="deleteHandler($index)">Delete</button>
            </td>
            <td>
                <button class="btn" ng-click="hideHandler($index)">Hide</button>
            </td>
        </tr>
    </table>

</div>