<div class="dialog-layout" ng-click="cancelHandler()" ng-if="isShown">
    <div id="dialogContainer" class="dialog-container">

        <div class="dialog-header">{{containerName}}</div>
        <div class="dialog-body">
            <h3>{{headerMessage}}</h3>
            <div ng-include="msgHtmlUrl"></div>
        </div>

        <div class="dialog-footer">
            <button class="btn" ng-click="confirmHandler()">OK</button>
            <button class="btn" ng-click="cancelHandler()">Cancel</button>
        </div>

    </div>
</div>