@import './reset.less';
@import './createGenerator.less';
@import './menu.less';
@import './details.less';
@import './number.less';
@import './buttons.less';
@import './listTable.less';
@import './dialogWindow.less';
@import './test.less';




@primaryColor: lightgrey;
@secondaryColor: darkblue;
@dialogPrimaryColor: white;
@buttonHoverColor: #3498DB;
@buttonDisabledColor: white;

@fontFamily: "Lucida Console", Courier, monospace;
@numbersFontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
@infoFontfamily: Arial, Helvetica, sans-serif;



body {
  background-color: @primaryColor;
  margin: 0 auto;
}
