@import './reset.less';
@import './typography.less';
@import './layout.less';
@import './createGenerator.less';
@import './menu.less';
@import './details.less';
@import './number.less';
@import './buttons.less';
@import './listTable.less';
@import './dialogWindow.less';
@import './responsive.less';




@primaryColor: lightgrey;
@secondaryColor: darkblue;
@dialogPrimaryColor: white;
@buttonHoverColor: #3498DB;
@buttonDisabledColor: white;

@fontFamily: "Lucida Console", Courier, monospace;
@numbersFontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
@infoFontfamily: Arial, Helvetica, sans-serif;

// responsive
@small: 750px;
@medium: 900px;
@large: 1024px;
@xlarge: 1600px;
