@primaryColor: lightgrey;
@secondaryColor: darkblue;
@hoverColor: black;

@fontFamily: 'Courier New', Courier, monospace;
@numbersFontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

body {
  background-color: @primaryColor;
}


.menu {
  text-align: center;
  list-style: none;
  border-bottom: 0.3em solid @secondaryColor;
  margin-bottom: 2em;
  padding: 0 0 1em;

  li {
    display: inline;
    padding-right: 3em;

    a {
      text-decoration: none;
      color: @secondaryColor;
      font-size: 1.5em;
      font-weight: bolder;
      font-family: @fontFamily;
    }

    a:hover {
      color: @hoverColor;
    }
  }

}

table,
td,
th {
  border: 0.1em solid @secondaryColor;
  text-align: center;
  font-size: 1em;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}



.details {
  h1 {
    text-align: center;
    font-size: 1.5em;
    font-family: @fontFamily;

    span {
      font-size: 1.5em;
    }
  }

  div {
    font-size: 2em;
    font-family: @numbersFontFamily;
    color: @secondaryColor;
  }
}
.view {
  text-align: center;
  font-size: 2em;
}
button {
  border: none;
  background-color: @primaryColor;
  
  background-color: @secondaryColor;
  border-radius: 28px;
  border: 1px solid @primaryColor;
  display: inline-block;
  cursor: pointer;
  color: @primaryColor;
  font-family: @fontFamily;
  font-size: 1em;  
}

button:disabled {
  background-color: white;
  color: @primaryColor;
  border-color: @primaryColor;
}
button:active {
  position: relative;
  top: 1px;
}
.nums-view {
  width: 3em;
  height: 3em;
  position: absolute;
}