<div class="dialog-layout" ng-click="cancelHandler()" ng-if="isShown">
    <div id="dialogContainer" class="dialog-container">

        <div class="dialog-header">DELETE CONFIRMATION</div>
        <div class="dialog-body">
            <div class="dialog-body-header">Are you sure you want to delete it?</div>
            <div class="dialog-body-info" ng-include="msgHtmlUrl"></div>
        </div>

        <div class="dialog-footer">
            <button ng-click="confirmHandler()">Confirm</button>
            <button ng-click="cancelHandler()">Cancel</button>
        </div>

    </div>
</div>