<div>
    <form name="createGeneratorForm" class="create-generator-form">
        <label for="generatorsName">Name</label>
        <input type="text" required="required" ng-model="data.generatorsName" maxlength="10" />
        <br />
        <label for="numsCount">Count of numbers</label>
        <input type="text" pattern="\d*" required="required" ng-model="data.numsCount" id="numsCount" maxlength="7" />
        <br />
        <button ng-disabled="createGeneratorForm.$invalid" ng-click="createHandler(data)">Create</button>
    </form>
</div>