<div class="list">
    <div class="list-titles">
        <div>Name of the number generator</div>
        <div>Generated numbers</div>
        <div>Color</div>
        <div>Details</div>
    </div>

    <div class="list-values" ng-repeat="gen in generators track by $index">
        <div>{{gen.name}}</div>
        <div>{{gen.getListOfNumbersLength}}</div>
        <div ng-style="{'background-color': gen.color}" class="color-box">adsad</div>
        <div><a ng-href="#/details/{{$index}}">check</a></div>
        <div class="list-button">
            <div><button ng-click="pauseHandler($index)">{{generator.isWorking ? "Pause" : "Resume"}}</button></div>
            <div><button ng-click="deleteHandler($index)">Delete</button></div>
            <div><button ng-click="hideHandler($index)">Hide</button></div>
        </div>
    </div>
</div>