body {
  background-color: lightgrey;
}
.create-generator-form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid darkblue;
  padding: 2rem;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}
.create-generator-form label {
  display: block;
  padding: 1rem 0 0.25rem;
}
.create-generator-form input {
  display: block;
  width: 100%;
  border: 2px solid darkblue;
  padding: 0.5rem;
  border-radius: 5px;
}
.menu {
  text-align: center;
  list-style: none;
  border-bottom: 0.3em solid darkblue;
  margin-bottom: 2em;
  padding: 0 0 1em;
}
.menu li {
  display: inline;
  padding-right: 3em;
}
.menu li a {
  text-decoration: none;
  color: darkblue;
  font-size: 1.5em;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
.menu li a:hover {
  color: black;
}
table,
td,
th {
  border: 0.1em solid darkblue;
  text-align: center;
  font-size: 1em;
}
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.details h1 {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}
.details h1 span {
  font-size: 1.5em;
}
.details div {
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
}
.view {
  text-align: center;
  font-size: 2em;
}
button {
  border: 0;
  background: darkblue;
  border-radius: 28px;
  padding: 0.5rem;
  color: white;
  margin: 1rem 0;
  width: auto;
  cursor: pointer;
  transition: 0.3s background ease;
}
button:hover {
  background: #3498DB;
}
button:disabled {
  background-color: white;
  color: lightgrey;
  border-color: lightgrey;
}
button:active {
  position: relative;
  top: 1px;
}
.actionBtns {
  position: relative;
}
.actionBtns .actionBtnsPosition {
  position: absolute;
  display: inline-block;
  right: 20px;
}
.nums-view {
  text-align: center;
  padding-top: 3px;
  width: 1.5em;
  height: 1.5em;
  color: white;
  font-size: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 50%;
  position: absolute;
}
.nums-view span {
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  left: 40px;
  bottom: 40px;
  position: absolute;
  display: none;
}
.nums-view:hover {
  cursor: help;
}
.nums-view:hover span {
  display: block;
}
