* {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after,
*:focus {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
html {
  font: 16px/1.5 "Lucida Console", Courier, monospace;
}
body,
button,
input,
select,
option {
  font: inherit;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  padding-bottom: 0.5rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
body {
  background-color: lightgrey;
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 1rem 0 1rem;
}
.create-generator-form {
  max-width: 500px;
  margin: 2em auto;
  border: 2px solid darkblue;
  padding: 2em;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "Lucida Console", Courier, monospace;
}
.create-generator-form label {
  display: block;
  padding: 1rem 0 0.25rem;
}
.create-generator-form input {
  display: block;
  width: 100%;
  border: 2px solid darkblue;
  padding: 0.5rem;
  border-radius: 5px;
}
.menu {
  list-style: none;
  border-bottom: 0.3em solid darkblue;
  margin: 2em 0 2em;
  padding: 0 0 1em;
  text-align: center;
}
.menu li {
  display: inline-block;
  padding-right: 2rem;
}
.menu li a {
  text-decoration: none;
  color: darkblue;
  font-size: 1.5em;
  font-weight: bolder;
  font-family: "Lucida Console", Courier, monospace;
  padding: 0.2em;
  border-radius: 10px;
  display: inline-block;
}
.menu li a:hover {
  background-color: darkblue;
  color: lightgrey;
}
.actions {
  position: relative;
  margin-right: 1em;
  width: 100%;
}
.actions .filter-form {
  margin: 1rem 1rem 0 0;
  position: absolute;
  right: 0.1rem;
}
.actions .filter-form label {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  width: 2em;
  height: 100%;
  padding: 1em 0 0.25em;
}
.actions .filter-form input {
  width: 14rem;
  border: 2px solid darkblue;
  padding: 0.5em;
  border-radius: 5px;
}
.actions .filter-form button {
  margin-top: 1em;
}
.details {
  margin-top: 5rem;
}
.details h1 {
  text-align: center;
}
.details h1 input {
  background-color: lightgrey;
  border: none;
}
.details h1 input:focus {
  border: 2px solid darkblue;
  border-radius: 10px;
  background-color: white;
  outline: none;
}
.nums-container {
  position: relative;
  height: 25rem;
}
.num-name {
  color: darkblue;
  width: fit-content;
  text-align: center;
  border-radius: 10px;
  left: 40px;
  bottom: 40px;
  position: absolute;
  display: none;
}
.det-view {
  display: inline-block;
  margin: 1.5rem 3.5rem 1.5rem 0;
}
.nums-view {
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
}
.nums-view:hover {
  cursor: help;
}
.nums-view:hover span {
  display: block;
  z-index: 1;
  background-color: white;
}
.btn {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: lightgrey;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  padding: 0.4rem;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s background ease;
}
.btn:hover {
  background-color: #3498DB;
}
.active-button {
  background-color: #3498DB;
}
button:disabled {
  background-color: white;
  color: lightgrey;
  border-color: lightgrey;
}
button:disabled:hover {
  background-color: white;
}
button:active {
  position: relative;
  top: 1px;
}
.button-container {
  text-align: right;
}
.table {
  display: table;
  width: 60%;
  margin: 5% auto;
  border-collapse: collapse;
}
.table div {
  display: table-row;
}
.table div div {
  display: table-cell;
  border: 1px solid darkblue;
  vertical-align: middle;
  text-align: center;
}
.table > div:first-child {
  font-weight: bold;
}
@keyframes slideAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.dialog-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.dialog-container {
  width: 30rem;
  margin: 10% auto;
  padding: 1.5rem;
  background-color: white;
  border: 2px solid darkblue;
  border-radius: 10px;
  box-shadow: 0.7rem 0.7rem 0.7rem lightgrey;
  text-align: center;
  animation: 0.3s ease-out 0s 1 slideAnimation;
  z-index: 2;
}
.dialog-header {
  padding: 0.7rem;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: darkblue;
  color: white;
}
.dialog-body {
  margin: 1.5rem 0 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.5em;
  font-family: "Lucida Console", Courier, monospace;
  border-bottom: 1px solid darkblue;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.dialog-body div {
  margin: 15px 0 0 15px;
  text-align: left;
  font-weight: bold;
}
.dialog-body div span {
  color: darkblue;
  font-style: italic;
}
.dialog-body p {
  padding-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  color: red;
}
.dialog-footer {
  width: 100%;
  text-align: center;
}
.dialog-footer button {
  margin-right: 10px;
}
@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  .details h1 {
    text-align: left;
  }
}
@media (max-width: 750px) {
  .actions a {
    display: block;
    width: fit-content;
    margin-bottom: 0.5em;
    text-align: left;
  }
  .details h1 {
    text-align: left;
  }
}
